@charset "utf-8";
/* CSS Document */

/*****************************************
	
    *Author			Bryan Maxim
	*Website		www.bryanmaxim.com
		
 *****************************************/
/*
	TABLE OF CONTENTS
	---------------------------
	 01. Body
	 02. Preloader / BackgroundImage / Dark+Pattern Overlay Effect
	 03. Home *Page
	 04. AboutUs *Page
	 05. Our Services *Page
	 06. Subscribe to Us *Page
	 07. Contact Us *Page
	 08. Misc
	 09. Countdown
	
 **  *************************************** **/

/* == 01. Body == */
body {
	background:#f5f5f5;
	margin:0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden !important;
	font-family: 'Cabin','Kanit', sans-serif;
	-webkit-font-smoothing: antialiased;
}
h2 {font-family: 'Lobster','Kanit', cursive;letter-spacing: 2px;}
a, a:hover, a:focus {text-decoration:none;}

/*Selection Color*/
::selection {background:#ded3a7;opacity:0.1;color:#fff;}
::-moz-selection {background: #ded3a7;color:#fff;}

/*Clear Div*/
.clear {clear:both;}
/*That Special Color That you Love*/
.fuzo {color:#ded3a7;}
.fuzo:hover {color:#ded3a7;}



/* == 02. Body == */

/*Background Image*/

.bgvideo {
	background:url(../../assets/images/bg.jpg) no-repeat center;
	background-size:cover;
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	top:0;
	z-index:-9999;
}
.bgimg {
	background:url(../../assets/images/bg.jpg) no-repeat center;
	background-size:cover;
	width:100%;
	position:fixed;
	left:0;
	bottom:0;
	right:0;
	top:0;
	z-index:-99999;
}

#background {
background-image: url('../../assets/images/bg.jpg');
}

/*Pattern & Darker Background Effects*/
.bgpattern {background:url(../../assets/images/pattern.png) repeat;width:100%;position:fixed;left:0;bottom:0;right:0;top:0;z-index:-1;}
.bgdark {position: fixed;z-index: -1;top: 0;right: 0;bottom: 0;left: 0;background: rgba(0, 0, 0, .7);}


/*Start PreLoader*/
.loader {position: fixed;z-index: 10000;top: 0;right: 0;bottom: 0;left: 0;background:#000;}
.loaderimg {left:50%;width:31px;height:31px;background:url(../../assets/images/1.gif) no-repeat; position:absolute;top:50%;margin-left:-15px;margin-top:-15px;}
/*End PreLoader*/





/* == 03. HomePage == */
#home-page {
	position: static !important;
}
#home-screen {
	position: absolute;
	z-index: 2;
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100% !important;
}

.containerhome {
	color:#fff;
	width:100%;
	position:absolute;
	text-align:center;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%);
}
.containerhome h1 {font-family: 'Lobster','Kanit', cursive;font-weight:100;font-size:100px;letter-spacing:5px;}
.containerhome h2 {font-weight:400;}
.bar {width:294px;height:1px;background:#707070;margin-top:65px;margin-left:auto;margin-right:auto;position:relative;}
.specialbar {width:62px;height:3px;background:#ded3a7;position:absolute;top:-1px;left:50%;margin-left:-31px;}

.scrolldownhome {
	width:44px;
	height:44px;
	border:1px solid #e6daac;
	border-radius:5px;
	background:transparent;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.scrolldownhome:hover,
.scrolldownhome:focus {
	background: rgba(255, 255, 255, .1);
}
.scrolldownhome a {
	float:left;width:100%;height:44px;font-size:30px;color:#e6daac;
}



/* == 04. About Us == */

#aboutus {
	position:fixed;
	z-index: 3;
	overflow:auto;
	width: 100%;
	height: 100%;
	min-height: 100% !important;
	display:none;
	
	
}
.containerabout {
	color:#fff;
	width:100%;
	position:absolute;
	text-align:center;

}
.contactdetails {padding:0;}
.containerabout h4 {width:90%;margin-left:5%;padding-bottom: 5px;font-size:30px;font-weight:400;letter-spacing: 1px;}
.aspace {margin-top:80px;margin-bottom:10px;text-align:left;}
.aboutp {color:#d1d1d1;width:540px;margin-left:auto;margin-right:auto;font-size:14px;letter-spacing:1px;}
.aboutus {font-size:50px;font-weight:300;margin-top:150px;}

.aboutbox {
	background: rgba(0, 0, 0, .2);
	width:90%;
	margin-left:5%;
	min-height:230px;
	border-radius:10px;
	padding:20px;
	letter-spacing: 1px;
	font-size:14px;
}
.aboutbox li {
	list-style:none;
	padding:8px 0px 8px 0px;
	float:left;
	width:100%;
}
.aboutbox i {color:#bcb28c;font-size:15px;margin-right:10px;}

.formbut {
	width:170px;
	height:40px;
	border:1px solid #bcb28c;
	border-radius:5px;
	text-align:center;
	margin-top:10px;
	padding:0px !important;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.formbut:hover {background:#bcb28c;color:#fff;}
.formbut a {cursor:pointer;width:100%;height:40px;float:left;color:#fff;padding-top:10px;text-decoration:none;font-size: 14px;}


/* == 05. Our Services == */

#ourservices {
	position:fixed;
	z-index: 3;
	overflow:auto;
	width: 100%;
	height: 100%;
	min-height: 100% !important;
	display:none;
	

}
.containerservices {
	color:#fff;
	width:100%;
	position:absolute;
	text-align:center;

}
.containerservices h4 {font-size:35px;font-weight:400;}
.servicesp {color:#d1d1d1;width:540px;margin-left:auto;margin-right:auto;font-size:14px;letter-spacing:1px;}
.services {font-size:50px;font-weight:300;margin-top:150px;}

.service {text-align:center;}
.service i {color:#bcb28c;font-size:46px;float:left;width:100%;}
.service span {font-size:20px;font-weight:600;width:100%;float:left;width:100%;margin-top:15px;margin-bottom:15px;letter-spacing: 1px;}
.service p {font-size:13px;color:#b5b5b5;font-weight:400;width:100%;padding:0px 15px 0px 15px;letter-spacing: 0.4px;}
.servicesCar {margin-top:110px;}


/* == 06. Subscribe == */

#subscribe {
	position:fixed;
	z-index: 3;
	overflow:auto;
	width: 100%;
	height: 100%;
	min-height: 100% !important;
	display:none;
	
}
.containersubscribe {
	color:#fff;
	width:100%;
	position:absolute;
	text-align:center;


}
.containersubscribe h4 {font-size:35px;font-weight:400;}
.subscribep {color:#d1d1d1;width:540px;margin-left:auto;margin-right:auto;font-size:14px;letter-spacing:1px;}
.subscribes {font-size:50px;font-weight:300;margin-top:150px;}


.sub-form {
	width:400px;
	display: inline-block;
	margin-top:80px;
	margin-bottom:80px;
	
}
.sub-form input:focus,
.sub-form input:active  
{
	background: rgba(0, 0, 0, .5);
	box-shadow: none;
	outline:none;
	border-color:#454545;
}
.sub-form input {
	outline:none;
	height:40px !important;
	background: rgba(0, 0, 0, .3);
	border:1px solid #454545;
	color:#d1d1d1;
	font-size:14px !important;
	border-radius:5px 1px 1px 5px !important;
	 box-shadow: none;
	 font-size:14px;
	
}

.sub-form button {
	background:#bcb28c;
	border-color:#bcb28c;
	border-radius:0px 5px 5px 0px !important;
	font-size:14px !important;
	margin-left: 0 !important;
	height:40px !important;
	 box-shadow: none;
}
.sub-form button:hover,
.sub-form button:focus,
.sub-form button:active
{
	border-radius:0px 5px 5px 0px !important;
	background:#cfc49c;
	border-color:#cfc49c;
	outline:none !important;
	 box-shadow: none;
}
.backtohome {cursor:pointer;font-size:16px;margin-bottom:30px;}
.backtohome i { color:#bcb28c;}
.backtohome:hover {color:#ccc;}



/* == 07. Contact == */

#contact {
	position:fixed;
	z-index: 3;
	overflow:auto;
	width: 100%;
	height: 100%;
	min-height: 100% !important;
	display:none;
	
}
.containercontact {
	color:#fff;
	width:100%;
	position:absolute;
	text-align:center;

}
.containercontact h4 {font-size:35px;font-weight:300;}
.contactp {color:#d1d1d1;width:540px;margin-left:auto;margin-right:auto;font-size:14px;letter-spacing:1px;}
.contacts {font-size:50px;font-weight:300;margin-top:150px;}

.contactCar {
	margin-top:40px;
	margin-bottom:30px;
}

.socialm {text-align:center;}
.socialm i {color:#fff;font-size:50px;float:left;width:100%;}
.socialm span {font-size:20px;font-weight:400;width:100%;float:left;width:100%;margin-top:15px;margin-bottom:0px;letter-spacing: 1px;}
.socialm p {font-size:14px;color:#bcb28c;font-weight:400;width:100%;padding:0px 15px 0px 15px;letter-spacing: 1px;}

.cline {
	max-width:370px;
	margin-left:auto;
	margin-right:auto;
}
.contact-form input {
	width:100%;
	height:50px;
	padding:10px;
	border-radius:7px;
	margin-bottom:10px;
	border:1px solid #353535;
	background: rgba(0, 0, 0, .3);
}
.contact-form input:hover,
.contact-form input:focus,
.contact-form input:active,
.contact-form textarea:hover,
.contact-form textarea:focus,
.contact-form textarea:active
{
	cursor:default;
	outline:none;
	background: rgba(0, 0, 0, .5);
	border-color: #696969;
}

.contact-form textarea {
	width:100%;
	height:100px;
	resize:vertical;
	border-radius:7px;
	border:1px solid #353535;
	padding:10px;
	background: rgba(0, 0, 0, .3);
}

.contact-form button {
	width:100%;
	height:44px;
	background:#bcb28c;
	border-radius:7px;
	border:1px solid #bcb28c;
	outline:none;
	margin-top:5px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.contact-form button:hover {
	background:#d3c89c;
	border-color:#d3c89c;
}


/* == 08. Misc == */

/*Next Page*/
.nextpage {
	cursor:pointer;
	background: rgba(0, 0, 0, .2);
	border:1px solid #333;
	border-radius:20px;
	padding:10px 20px 10px 20px;
	width: 200px;
	margin-top:40px;
	margin-bottom:40px;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
	letter-spacing: 1px;
	font-size:12px;
	text-transform:uppercase;
}
.nextpage:hover {
	background:#bcb28c;
	border:1px solid #bcb28c;
}
.nextpage a {cursor:pointer;color:#fff;text-decoration:none;}



/* Styling Pagination for Owl Carousel*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/*Get Back & Next*/
.getback {
	width:60px;
	height:60px;
	background: rgba(0, 0, 0, .4);
	border-radius:0px 0px 55px 55px;
	position:absolute;
	top:0;
	left:50%;
	font-size:25px;
	color:#fff;
	z-index:3;
	cursor:pointer;
	margin-left:-30px;
	text-align:center;
	padding-top:12px;
	-webkit-transition: all 0.8s ease;
	-moz-transition: all 0.8s ease;
	transition: all 0.8s ease;
}
.getback:hover {
	color:#bcb28c;
	background: rgba(0, 0, 0, .5);
}

/* == 09. CountDown == */
.mouse-bg {
left: 0;
right: 0;
bottom: 0;
top: 0;
position: fixed;
z-index: -99999;

}
/*CountDown*/
.countdown {width:600px;margin-left:auto;margin-right:auto;margin-top:50px;}
.countdown li {width:25%;float:left;font-weight:400;list-style:none;}
.countdown span {color:#ded3a7;float:left;width:100%;font-size:44px;}
.countdown p {color:#fff;width:25%;float:left;width:100%;font-size:16px;letter-spacing: 1px;}